[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    */__pycache__/*
    *.pyc
    */venv/*
    */home/travis/virtualenv/*
    */usr/lib/python3/*
    db.py
    */__init__.py
    tests/*
    */models.py
